* { margin: 0; padding: 0;}

body{
    background: #9ea59f; padding: 5%; font-family: "Trebuchet MS";
}

#corpo {
    background: #98cfff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 20px ;
}

header{
    background-color: #1391ff;
    padding: 2%;
    border-bottom: 1px solid #999;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #fff;
    text-transform: uppercase;
}

main{
    padding: 2%;
}

footer{
    background: #1391ff;
    text-align: center;
    padding: 2%;
    border-top: 1px solid #999;
}

select{
    height: 20px;
    width: 40px;
}