#sobre-a-fatec{
    height:700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6%;    
}

#sobre-a-fatec h2{
    text-align: center;
    font-family: Raster;
    font-size: 27px;
    color: green;
}
#sobre-a-fatec-grupo{
    display: flex;
    align-items: center;
}
#sobre-a-fatec div{
    padding: 10px;
    width: 50%;
    height: max-content;

    background-color: rgb(18, 18, 18);
    border: 2px solid rgb(255, 255, 255);
    margin: 15px  30px;
}

#sobre-a-fatec div a{
    color: white;
    text-decoration: underline;
}

#sobre-a-fatec p{
    margin: 8px;
    font-family: Raster;
    font-size: 18px;
}
.strong-verde{
    color: green;
}
#sobre-a-fatec h3{
    padding-left: 10px;
    color: green;
    margin-bottom: 10px;
    font-family: Raster;
    font-size: 24px;
}